spring:
  application:
    name: user

  datasource:
    url: jdbc:mysql://localhost:3306/user?createDatabaseIfNotExist=true
    username: root
    password: test

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
